.knits {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.Knitting {
    flex-grow: 1;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


.photos {
    border-radius: 10px; 
    width: 350px;
    height: 350px; 
}