* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(178, 200, 186) ;
  color: rgb(52, 60, 54);
  font-weight: thick;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1280px;
}

code {
  font-family:'Courier New', Courier, monospace;
  color: rgb(52, 60, 54);
  font-weight: thick

}

p {
  line-height: 30px;
  font-family:'Courier New', Courier, monospace;
  color: rgb(87, 98, 90);
  font-weight: thick;
}

h1,
h2 {
  font-family:'Courier New', Courier, monospace;
  color: rgb(52, 60, 54);
  font-weight: thick
}